* {
    font-family: "Open Sans", sans-serif;
  }
  
  .list-item:hover {
    cursor: pointer;
  }
  
  .container{
    margin: 0 auto; 
    max-width: 1000px;  
    padding: 0; 
    position: relative;
    width: 100%;
  }
  
  input[type=text], select,textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:4px;
    resize:vertical;
  }
  .header h1 {
    color: black;
    line-height: 200px;
    font-size: 100px;
    margin-bottom: 50px;
    text-align:center;
  }